/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#canvas_pane{
	-fx-background-image: url("../images/Grid.png");
	-fx-background-position: 0.0%;
	-fx-background-size: stretch; 
}

#logo_pane{
	-fx-background-image: url("../images/Logo_high.jpg");
	-fx-background-position: 0.0%;
	-fx-background-size: stretch; 
}
